
html,body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'FiraSans', "Trebuchet MS", Helvetica, sans-serif;
}
body{
    background-color: var(--color-block);
    overflow-x: hidden!important;
}
* {
    box-sizing: border-box;
}
h1{
    text-align: center;
}
